body{
    background-color: #334F86;
    color: white;
}
#titulo{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#topMenu,#opciones, li, a{
    text-align: right;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#titulo{
    padding: 20px;
    width: 200px;
    text-align: left;
}


